body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: monospace;   
}

.header{
    color: white;
    width: auto; height: 7vh;
    background-color: purple;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.p{
    margin-top: 0;
    
}